
<div class="container containerCreate">
    <h5 class="card-title fs-50 text-center">Register New User</h5>
    <form class="">
        <div class="position-relative row form-group">
            <div class="col-sm-9">
                <div class="position-relative row form-group">
                    <div class="col-sm-6">
                        <label for="location" class="col-form-label">Username</label>
                        <input name="Username" id="Username" placeholder="Username" type="text" class="form-control" ng-Model="Register.Username">
                    </div>
                    <div class="col-sm-6">
                        <label for="name" class="col-form-label">Email</label>
                        <input name="Email" id="Email" placeholder="Email" type="email" class="form-control" ng-Model="Register.Email">
                    </div>
                    <div class="col-sm-6">
                        <label for="name" class="col-form-label">FirstName</label>
                        <input name="Email" id="FirstName" placeholder="FirstName" type="text" class="form-control" ng-Model="Register.FirstName">
                    </div>
                    <div class="col-sm-6">
                        <label for="name" class="col-form-label">LastName</label>
                        <input name="LastName" id="LastName" placeholder="LastName" type="text" class="form-control" ng-Model="Register.LastName">
                    </div>
                    <div class="col-sm-6">
                        <label for="name" class="col-form-label">Password</label>
                        <input name="Password" id="Password" placeholder="Password" type="text" class="form-control" ng-Model="Register.Password">
                    </div>
                    <div class="col-sm-6">
                        <label for="name" class="col-form-label">ConfirmPassword</label>
                        <input name="ConfirmPassword" id="ConfirmPassword" placeholder="ConfirmPassword" type="text" class="form-control" ng-Model="Register.ConfirmPassword">
                    </div>

                </div>
            </div>
        </div>
        <div class="position-relative row form-group">
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="registercall()">Register</button>
                <button class="btn btn-danger" ng-click="redirect('')">Cancel</button>
            </div>
        </div>
    </form>
</div>

