<div class="container containerCreate">
    <h5 class="card-title fs-50 text-center">Update FinanceType</h5>
    <form class="">
        <div class="position-relative row form-group">
            <!--<div class="col-sm-9" style="border-style: solid; border-width: medium; width: 50px; height: 50px; border-color: transparent;">
            </div>-->

            <div class="col-sm-9">
                <div class="position-relative row form-group">
                    <div class="col-sm-6">
                        <label for="text" class="col-form-label">Type</label>
                        <input name="text" id="text" placeholder="text" type="text" class="form-control" ng-Model="FinanceTypeModel.Type">
                    </div>
                </div>

            </div>
        </div>

        <div class="position-relative row form-group">
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="FinanceTypeUpdate()">Update</button>
                <button class="btn btn-secondary" ng-click="Cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
