<div class="container containerCreate">
    <h5 class="card-title fs-50 text-center">Change Password</h5>
    <form class="">
        <div class="position-relative row form-group">

            <div class="col-sm-9">
                <div class="position-relative row form-group">
                    <div class="col-sm-4">
                        <label for="oldPassword" class="col-form-label">Current Password</label>
                        <input name="oldPassword" id="oldPassword" placeholder="Type your current password..." type="password" class="form-control" ng-Model="ChangePasswordModel.OldPassword">
                    </div>
                    <div class="col-sm-4">
                        <label for="newPassword" class="col-form-label">New Password</label>
                        <input name="newPassword" id="newPassword" placeholder="Type your new password..." type="password" class="form-control" ng-Model="ChangePasswordModel.NewPassword">
                    </div>
                    <div class="col-sm-4">
                        <label for="newConfirmPassword" class="col-form-label">Confirm New Password</label>
                        <input name="newConfirmPassword" id="newConfirmPassword" placeholder="Confirm password..." type="password" class="form-control" ng-Model="ChangePasswordModel.ConfirmPassword">
                    </div>
                </div>
            </div>
        </div>

        <div class="position-relative row form-group">
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="Submit()">Update</button>
                <button class="btn btn-secondary" ng-click="Cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>

